<div id="<%= dom_id session %>">
  <p>
    <strong>Suggested earliest at:</strong>
    <%= session.suggested_earliest_at %>
  </p>

  <p>
    <strong>Suggested latest at:</strong>
    <%= session.suggested_latest_at %>
  </p>

</div>
